{% extends "myauth/base.html" %}

{% block title %}
    Delete Account
{% endblock %}

{% block body %}
    <h1>Подтверждение удаления аккаунта</h1>
    <p>Вы уверены, что хотите деактивировать свой аккаунт {{ user.username |capfirst }} ?</p>
    <p>Вы больше не сможете войти в него.</p>

    <div>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Да, деактивировать</button>
        </form>
    </div>

    <div>
        <br>
            <a href="{% url 'myauth:about-me' %}">
                Обратно к пользователю {{ user.username |capfirst }}
            </a>
    </div>

{% endblock %}